# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Virtual environments
env/
venv/
.venv/

# Environment variables
.env
.env.*
!.env.example
.env-non-dev

# Pytest
.pytest_cache/
.coverage
htmlcov/

# IDE
.vscode/
.idea/
*.iml

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Celery
celerybeat-schedule
celerybeat.pid

# Images generated dynamically
app/static/images/resized_*.webp

# Alembic
alembic.ini.backup

# Docker
*.pid
